<h1>Connect Four</h1>

<section>
  <div class="intro">
    <h4>Would you like to play a new game?</h4>
    <button onclick="CONNECT4.startGame()">Yes?</button>
  </div>

  <div class="player-info">
    <div>
      <input id="player1" type="text" placeholder="Player One Name"/>
    </div>
    <div>
      <input id="player2" type="text" placeholder="Player Two Name"/>
    </div>
    <div>
      <button onclick="CONNECT4.reallyStartGame()">Go!</button>
    </div>
  </div>
</section>

<section>
  <div class="game">
    <div class="scoreboard">
      <h5>BATTLE</h5>
      <div class="player-score-panel">
        <h6 class="player-one player-name"></h6>
        <h6 class="player-one player-score">Score: 0</h6>
      </div>
      <div class="player-score-panel">
        <h6 class="player-two player-name"></h6>
        <h6 class="player-two player-score">Score: 0</h6>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="player-turn-panel">
      <p class="player-turn">No player set</p>
    </div>
    <table>
      <tbody>
      <% @rows.times do |r| %>
        <tr class="row<%= @rows - 1 - r %>">
        <% @columns.times do |c| %>
          <td class="row<%= @rows - 1 - r %> col<%= c  %>"></td>
        <% end %>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <% @columns.times do |c| %>
            <td><button id="col<%= c %>" onclick="CONNECT4.placeChip(<%= c %>)">Push</button></td>
          <% end %>       
        </tr>
      </tfoot>
    </table>
  </div>
</section>